@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "SONGER SemiExpanded";
  src: url("fonts/SONGERSemiExpanded-Bold.eot");
  src: url("fonts/SONGERSemiExpanded-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/SONGERSemiExpanded-Bold.woff2") format("woff2"), url("fonts/SONGERSemiExpanded-Bold.woff") format("woff"), url("fonts/SONGERSemiExpanded-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #F7F7F7;
  min-width: 320px;
}

body::-webkit-scrollbar {
  width: 15px;
  /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: rgb(230, 236, 240);
  /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: #689AD1;
  /* цвет бегунка */
  border-radius: 5px;
  /* округлось бегунка */
  border: 3px solid #689AD1;
  /* отступ вокруг бегунка */
}

.mark__blue {
  color: #92ADBF;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0px 15px;
}

#menu__burger {
  width: 50px;
  height: 50px;
  position: fixed;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: #689AD1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 20px;
  bottom: 0;
  z-index: 10;
  display: none;
}

#menu__button__callback {
  width: 50px;
  height: 50px;
  position: fixed;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: #689AD1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 20px;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: none;
  background: url(src/callback_button.png);
}

#menu__burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 25px;
  background: #F7F7F7;
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#menu__burger span:nth-child(1) {
  top: 14px;
  left: 12px;
  transform-origin: left center;
}

#menu__burger span:nth-child(2) {
  top: 22px;
  left: 12px;
  transform-origin: left center;
}

#menu__burger span:nth-child(3) {
  top: 30px;
  left: 12px;
  transform-origin: left center;
}

#menu__burger.open span:nth-child(1) {
  transform: rotate(45deg);
  left: 16px;
  top: 14px;
}

#menu__burger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#menu__burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 32px;
  left: 16px;
}

.menu__burger__links {
  position: fixed;
  box-shadow: 0px 8px 20px 0px #E5E9ED;
  background-color: #F7F7F7;
  border-radius: 15px;
  z-index: 10;
  bottom: 40px;
  left: 50px;
  display: none;
  width: 170px;
}

.menu__burger__links.open {
  display: block;
}

.menu__burger__links > ul > li > a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #3B3636;
}

.menu__burger__links > ul > li {
  padding: 10px 20px;
}

.header {
  box-shadow: 0px 8px 20px 0px #E5E9ED;
  background-color: #F7F7F7;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.button > a {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #F7F7F7;
  background-color: #689AD1;
  padding: 20px;
  border-radius: 15px;
  gap: 10px;
  display: inline-block;
  text-decoration: none;
  place-content: center;
  transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.button > a:hover {
  background: linear-gradient(91.46deg, #689AD1 -3.09%, #D2E5EB 100%);
}

.button > a:focus {
  background-color: #48709B;
}

.adaptive {
  display: none;
}

.list__item {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #3B3636;
  margin-right: 50px;
}
.list__item:last-child {
  margin-right: 0px;
}

.info {
  margin-top: 60px;
}

.info__row {
  display: flex;
  align-items: center;
}

.info__title {
  font-family: SONGER SemiExpanded;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 20px;
  max-width: 609px;
  color: #3B3636;
}

.info__subtitle {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 60px;
  max-width: 325px;
  color: #3B3636;
}

.info__button {
  margin-bottom: 30px;
}

.data__item {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #3B3636;
  margin-bottom: 15px;
}
.data__item h4:first-child {
  color: #757373;
}
.data__item:last-child {
  margin-bottom: 0px;
}

.info__image > img {
  max-width: 100%;
}

.honors {
  background-color: rgb(211, 228, 235);
  margin-bottom: 150px;
}

.honors__row {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
}

.honors__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 259px;
}

.honors__icon {
  margin-bottom: 20px;
}

.honors__title {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #3B3636;
  text-align: center;
}

.title {
  font-family: SONGER SemiExpanded;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #3B3636;
  max-width: 1150px;
}

.achivements {
  margin-bottom: 150px;
}

.achivements__title {
  margin-bottom: 80px;
}

.achivements__image {
  background-image: url(src/background.png);
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.table {
  margin-bottom: 150px;
}

.tabs {
  max-width: 1200px;
  margin: 50px auto;
}

.tabs__nav {
  display: flex;
}

.tabs__nav-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #E0E8ED;
  cursor: pointer;
  padding: 20px 30px 20px 30px;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  gap: 10px;
  color: #3B3636;
}

.tabs__nav-btn:last-child {
  background-color: #FFFEFE;
}

.tabs__content {
  background-color: #E0E8ED;
  border-radius: 0px 0px 15px 15px;
}

.tabs__item {
  display: none;
  padding: 30px;
  border-radius: 0px 0px 15px 15px;
}

.tabs__content > .tabs__item:last-child {
  background-color: #FFFEFE;
}

.tabs__item.active {
  display: block;
}

.item__text {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.03em;
  display: flex;
  margin-bottom: 50px;
}

.item__text > span {
  margin-right: 30px;
}

.item__text > span:first-child {
  width: 165px;
}

.item__text > span:nth-child(2) {
  width: 460px;
}

.item__text > span:last-child {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.03em;
  margin-right: 0px;
  text-align: left;
  width: 420px;
}

.line {
  width: 100%;
  background-color: #3B3636;
  height: 1px;
  margin-bottom: 30px;
}

.diseases__title {
  margin-bottom: 80px;
}

.diseases {
  margin-bottom: 150px;
}

.diseases__column {
  display: flex;
  justify-content: center;
}

.diseases__body {
  max-width: 413px;
}

.diseases__text {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 30px;
  color: #757373;
}
.diseases__text:last-child {
  margin-bottom: 0px;
}

.therapy {
  margin-bottom: 150px;
}

.therapy__title {
  margin-bottom: 80px;
}

.therapy__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.therapy__column {
  display: flex;
  padding: 20px 10px 20px 10px;
  flex: 0 1 50%;
}

.therapy__image {
  margin-right: 30px;
}

.therapy__body {
  max-width: 453px;
}

.therapy__body__title {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #3B3636;
  margin-bottom: 20px;
}

.therapy__body__subtitle {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757373;
}

.reviews {
  margin-bottom: 96px;
}

.reviews__row {
  margin-bottom: 96px;
}

.reviews__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 80px;
}

.reviews__header__link > a {
  color: #3B3636;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.reviews__card {
  border: 3px solid rgb(104, 154, 209);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 510px;
  margin: 0 auto;
}

.reviews__card__img {
  margin-bottom: 30px;
}

.reviews__card__title {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #3B3636;
  margin-bottom: 30px;
}

.reviews__card__subtitle {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #3B3636;
  padding: 0px 10px;
  margin-bottom: 30px;
}

.morecontent span {
  display: none;
}

.morelink {
  font-weight: bold;
  color: #4682b4;
}

.owl-dots {
  display: none;
}

.owl-next {
  position: absolute;
  right: 0;
  font-size: 50px;
}

.am-next {
  position: relative;
  top: -250px;
  right: 25px;
  background-color: rgba(255, 255, 255, 0);
}

.am-prev {
  position: relative;
  top: -250px;
  right: -25px;
  background-color: rgba(255, 255, 255, 0);
}

.callback {
  background-color: rgb(230, 236, 240);
}

.callback__title {
  margin-bottom: 80px;
}

.callback__row {
  display: flex;
  align-items: center;
}

.callback__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFEFE;
  width: 565px;
  max-width: 100%;
  padding: 35px;
  border-radius: 15px;
  margin-right: 200px;
}

.callback__name {
  border-color: #e0e0e0;
  color: #474e57;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 10px 10px 10px 30px;
  border-bottom: 1px solid #757373;
  width: 100%;
  max-width: 500px;
  margin-bottom: 40px;
  resize: none;
  height: 50px;
  padding-right: 25px;
  background: url("src/inputicon.png") no-repeat left;
  background-size: 16px;
}

.callback__phone {
  border-color: #e0e0e0;
  color: #474e57;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 10px 10px 10px 30px;
  border-bottom: 1px solid #757373;
  width: 100%;
  max-width: 500px;
  margin-bottom: 40px;
  resize: none;
  height: 50px;
  padding-right: 25px;
  background: url("src/inputicon.png") no-repeat left;
  background-size: 16px;
}

.callback__comment {
  border-color: #e0e0e0;
  color: #474e57;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #757373;
  width: 100%;
  max-width: 500px;
  margin-bottom: 40px;
  resize: none;
  height: 50px;
}

.callback__checkbox {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  margin-bottom: 50px;
}
.callback__checkbox > label {
  color: #3B3636;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.callback__checkbox > input {
  width: 30px;
  margin-right: 25px;
}

.callback__button {
  padding: 20px 30px 20px 30px;
  border-radius: 15px;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #689AD1;
  color: #F7F7F7;
  width: 100%;
  transition: 1s cubic-bezier(0, 0, 0.2, 1);
}
.callback__button:hover {
  background: linear-gradient(91.46deg, #689AD1 -3.09%, #D2E5EB 100%);
}
.callback__button:focus {
  background-color: #48709B;
}

.callback__column {
  padding: 50px 0px;
}

.callback__body__text {
  margin-bottom: 40px;
}
.callback__body__text:last-child {
  margin-bottom: 0px;
}

.callback__body__title {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #3B3636;
  margin-bottom: 10px;
}

.callback__body__subtitle {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757373;
  margin-bottom: 10px;
}

.callback__body__links {
  display: flex;
}

.callback__body__links__icons > a > img {
  width: 60px;
  height: 60px;
}
.callback__body__links__icons:first-child {
  margin-right: 20px;
}

.footer {
  background-color: rgb(200, 200, 200);
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__column {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
  margin: 75px 0px;
}

@media (max-width: 1280px) {
  .am-prev {
    top: 0px;
    right: 0px;
    margin-top: 20px;
  }
  .am-next {
    top: 0px;
    right: 0px;
    margin-top: 20px;
  }
}
@media (max-width: 1060px) {
  .callback__form {
    margin-right: 0px;
  }
  .callback__row {
    flex-direction: column-reverse;
  }
  #menu__burger {
    display: block;
  }
  #menu__button__callback {
    display: block;
  }
  .header {
    display: none;
  }
}
@media (max-width: 950px) {
  .reviews__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-direction: column;
  }
}
@media (max-width: 901px) {
  .title {
    font-size: 30px;
  }
  .info {
    margin-top: 30px;
  }
  .info__title {
    font-size: 40px;
  }
  .info__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .button > a {
    padding: 10px;
    font-size: 20px;
  }
  .data__item {
    font-size: 18px;
  }
  .info__data {
    margin-bottom: 30px;
  }
  .honors {
    margin-bottom: 100px;
  }
  .honors__icon {
    margin-bottom: 10px;
  }
  .honors__icon > img {
    width: 75px;
  }
  .honors__title {
    font-size: 18px;
  }
  .achivements__image > img {
    max-width: 100%;
  }
  .tabs__nav-btn {
    font-size: 20px;
  }
  .item__text {
    font-size: 18px;
  }
  .item__text > span:last-child {
    font-size: 18px;
  }
  .diseases {
    margin-bottom: 100px;
  }
  .diseases__image > img {
    max-width: 100%;
  }
  .diseases__text {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .diseases__column {
    align-items: center;
  }
  .therapy {
    margin-bottom: 100px;
  }
  .therapy__row {
    flex-direction: column;
    align-items: center;
  }
  .therapy__image > img {
    width: 60px;
  }
  .therapy__body__title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .therapy__body__subtitle {
    font-size: 20px;
  }
  .reviews__card__img {
    width: 100px;
    margin-bottom: 15px;
  }
  .reviews__card__title {
    font-size: 25px;
  }
  .reviews__card__subtitle {
    font-size: 22px;
  }
  .reviews__card__stars {
    width: 200px;
  }
  .callback__body__title {
    font-size: 20px;
  }
  .callback__body__subtitle {
    font-size: 20px;
  }
  .callback__body__links__icons > a > img {
    width: 40px;
    height: 40px;
  }
  .callback__name {
    font-size: 20px;
    background-size: 10px;
  }
  .callback__phone {
    font-size: 20px;
    background-size: 10px;
  }
  .callback__comment {
    font-size: 20px;
  }
  .callback__checkbox {
    margin-bottom: 25px;
  }
  .callback__checkbox > input {
    margin-right: 10px;
  }
  .callback__checkbox > label {
    font-size: 14px;
  }
  .callback__button {
    padding: 15px 10px 15px 10px;
    font-size: 20px;
  }
  .footer__column {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .item__text {
    flex-direction: column;
  }
  .item__text > span:first-child {
    width: -moz-fit-content;
    width: fit-content;
  }
  .item__text > span:nth-child(2) {
    width: -moz-fit-content;
    width: fit-content;
  }
  .item__text > span:last-child {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 600px) {
  .title {
    font-family: SONGER SemiExpanded;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .info__title {
    font-family: SONGER SemiExpanded;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .info__subtitle {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
  .button > a {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
    border-radius: 7px;
  }
  .info__button {
    display: none;
  }
  .adaptive {
    display: block;
  }
  .data__item {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
  .info__data {
    margin-bottom: 0px;
  }
  .honors {
    margin-bottom: 50px;
  }
  .honors__icon > img {
    width: 50px;
  }
  .honors__title {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
  .honors__icon {
    margin-bottom: 0px;
    margin-right: 10px;
  }
  .honors__body {
    flex-direction: row;
    margin: 10px;
  }
  .honors__row {
    flex-wrap: wrap;
    padding: 25px 0px;
  }
  .honors__body {
    max-width: 194px;
  }
  .achivements__title {
    margin-bottom: 30px;
  }
  .achivements__image {
    margin-bottom: 30px;
  }
  .achivements {
    margin-bottom: 30px;
  }
  .table {
    margin-bottom: 50px;
  }
  .tabs__nav-btn {
    padding: 10px 20px 10px 20px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .item__text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 10px;
  }
  .item__text > span {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .item__text > span:last-child {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .diseases {
    margin-bottom: 50px;
  }
  .diseases__title {
    margin-bottom: 10px;
  }
  .diseases__column {
    flex-wrap: wrap;
  }
  .diseases__image {
    margin-bottom: 10px;
  }
  .diseases__text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .therapy {
    margin-bottom: 50px;
  }
  .therapy__title {
    margin-bottom: 20px;
  }
  .therapy__image > img {
    width: 30px;
  }
  .therapy__body__title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .therapy__body__subtitle {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .reviews__header__link > a {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
  .reviews__title {
    margin-bottom: 5px;
  }
  .reviews__card__img {
    width: 80px;
  }
  .reviews__card__title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 15px;
  }
  .reviews__card__subtitle {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .reviews {
    margin-bottom: 50px;
  }
  .callback__title {
    margin-bottom: 30px;
  }
  .callback__column {
    padding: 20px 0px;
  }
  .callback__body__title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
  }
  .callback__body__subtitle {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .callback__name, .callback__phone, .callback__comment {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .callback__body__text {
    margin-bottom: 20px;
  }
  .callback__body__links__icons:first-child {
    margin-right: 10px;
  }
  .callback__form {
    width: auto;
  }
  .callback__checkbox > label {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
  .callback__button {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .footer__row {
    flex-direction: column;
  }
  .footer__column {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    margin: 15px 0px;
  }
}
@media (max-width: 460px) {
  .info__data {
    display: flex;
  }
  .info__title {
    margin-bottom: 20px;
  }
  .info__subtitle {
    margin-bottom: 20px;
  }
  .info__button {
    margin-bottom: 20px;
  }
  .info__row {
    align-items: flex-start;
  }
  .info__column {
    margin-right: 5px;
  }
  .honors__title {
    width: 100px;
  }
  .honors__body {
    margin: 3px 3px 10px 3px;
  }
  .honors__row {
    justify-content: center;
  }
  .callback__form {
    padding: 20px;
  }
  .callback__row {
    align-items: flex-start;
  }
  .diseases__image {
    max-width: 70%;
  }
}/*# sourceMappingURL=style.css.map */