@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	/* width: 100%; */
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: inherit;
	font-weight: 400;
}


.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
}



.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0px;
}

.header__logo {
	display: flex;
	text-align: center;
	align-items: center;
}

.header__logo>img:first-child {
	margin: 0px 25px 0px 0px;
}

.borderline {
	border: 1px solid #EFEFEF;
	width: 1px;
	height: 35px;
	margin-right: 25px;
}

.header__logo>img:nth-child(3) {
	margin: 0px 25px 0px 0px;
}

.header__logo>span {
	font-family: Rubik;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0em;
	color: #BDBDBD;
}

.header__list {}

.header__list>a:last-child {
	padding-right: 0px;
	color: #019934;
}

.header__link {
	font-family: Rubik;
	font-size: 18px;
	font-weight: 450;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
}

.header__link {
	padding-right: 25px;
	color: #BDBDBD;
}

/*BURGER*/

.hamburger-menu {
	width: 30px;
	height: 35px;
	display: none;
}

#menu__toggle {
	opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
	transform: rotate(45deg);
	position: fixed;
}

#menu__toggle:checked+.menu__btn>span::before {
	top: 0;
	transform: rotate(0deg);
	position: fixed;
}

#menu__toggle:checked+.menu__btn>span::after {
	top: 0;
	transform: rotate(90deg);
	position: fixed;
}

#menu__toggle:checked~.menu__box {
	left: 0 !important;
}

.menu__btn {
	cursor: pointer;
	z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
	display: block;
	position: relative;
	width: 30px;
	height: 2px;
	z-index: 4;
	background-color: #616161;
	transition-duration: .25s;
}

.menu__btn>span::before {
	content: '';
	top: -8px;
}

.menu__btn>span::after {
	content: '';
	top: 8px;
}

.menu__box {
	display: block;
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	background-color: #ECEFF1;
	transition-duration: .25s;
	z-index: 3;
	display: none;
}

.menu__item {
	display: block;
	padding: 12px 24px;
	color: #333;
	font-family: Rubik;
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	transition-duration: .25s;
}

#green {
	color: #019934;

}

.menu__item:hover {
	background-color: #CFD8DC;
}


@media (max-width: 1090px) {
	.header__logo>span {
		display: none;
	}

	.header__list {
		display: none;
	}

	.hamburger-menu {
		display: block;
		z-index: 4;
	}

	.menu__box {
		display: block;
	}
}

@media (max-width: 410px) {
	.header__logo>img {
		height: 25px;
	}
}

/*BURGER*/

.content {
	display: flex;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.article__content>img {
	margin: 0px 0px 20px 0px;
}

.article__content>h1 {
	font-family: Rubik;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 110%;
	color: #000000;
	margin: 0px 0px 10px 0px;
}

.article__content--info {
	margin-bottom: 15px;
}

.article__content--info>span:first-child {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #949494;
	margin-right: 20px;
}

.article__content--info>span>img {
	margin-right: 5px;
}

.article__content--info>span:last-child {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #019934;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.article__content--path {
	margin-bottom: 15px;
}

.article__content--path>span {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #282828;
	opacity: 0.5;
}

.article__content--path>span:after {
	content: '';
	position: relative;
	display: inline-block;
	height: 11px;
	background: #a8a8a8;
	width: 1px;
	margin: 0px 20px;
}

.article__content--path>span:last-child::after {
	width: 0px;

}

.line_horizontal {
	background-color: #EFEFEF;
	width: 100%;
	height: 1px;
	max-width: 1170px;
	margin-bottom: 15px;
}

.article__content--path>span:last-child {
	font-family: Rubik;
	font-style: normal;
	font-weight: 450;
	font-size: 16px;
	line-height: 21px;
	color: #8852FE;
	opacity: 1;
}

.article__text>h2 {
	font-family: Rubik;
	font-style: normal;
	font-weight: 450;
	font-size: 22px;
	line-height: 28px;
	color: #000000;
	margin-bottom: 20px;
}

.article__text>p {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
	margin-bottom: 20px;
}

.article__text>ul>li {
	list-style: outside;
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	font-feature-settings: 'pnum'on, 'lnum'on;
	color: #000000;
	margin-bottom: 10px;
	margin-left: 20px;
}


.comments__header {
	margin-bottom: 20px;
}

.comments__header>span:first-child {
	font-family: Rubik;
	font-style: normal;
	font-weight: 450;
	font-size: 22px;
	line-height: 28px;
	color: #000000;
	margin-right: 40px;
}

.comments__header>span:last-child {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #019934;
}

.comments_input {
	margin-bottom: 30px;
}

.comments_input>form>input:first-child {
	border: 1px solid #EFEFEF;
	width: 112px;
	height: 47px;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.03);
	border-radius: 10px;
	padding-left: 10px;
	width: 100%;
	max-width: 719px;
}

.comments_input>form>input:last-child {
	font-family: 'Futura PT';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	background: #019934;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.03);
	border-radius: 10px;
	width: 112px;
	height: 47px;
}


.comments__content {
	display: flex;
	align-items: flex-start;
	margin-bottom: 30px;
}

.comments__content>img {
	margin-right: 20px;
}

.comments__content--info>span:first-child {
	font-family: Rubik;
	font-style: normal;
	font-weight: 450;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
	margin-right: 10px;
}

.comments__content--info>span:nth-child(2) {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	font-feature-settings: 'pnum'on, 'lnum'on;
	color: #989CA2;
}

.comments__content--info>p {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	/* line-height: 21px; */
	color: #000000;
	margin-bottom: 10px;
}


.comments__content--buttons {
	display: inline-flex;
	align-items: center;
}

.comments__content--buttons>button>img {
	margin-right: 10px;
}

.comments__content--buttons>button:first-child {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #019934;
	background-color: #FFFFFF;
	margin-right: 30px;
}

.comments__content--buttons>button:last-child {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #8852FE;
	background-color: #FFFFFF;
}

.article__advices {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100;
}

.article__advices>span {
	font-family: Rubik;
	font-style: normal;
	font-weight: 450;
	font-size: 22px;
	line-height: 28px;
	color: #000000;
	margin-bottom: 15px;
}

.article__advices--card {
	background-image: url(src/Group\ 514.png);
	width: 255px;
	height: 255px;
	display: inline-flex;
	padding: 20px;
	margin-bottom: 10px;
	flex-direction: column;
	justify-content: flex-end;
}

.article__advices--card:before {
	content: '';
	background-image: url('src/Group\ 515.png');
	width: 32px;
	height: 32px;
	position: relative;
	bottom: 100px;
	left: 180px;
}

.article__advices--card>img {}

.article__advices--card>span {
	font-family: Rubik;
	font-style: normal;
	font-weight: 450;
	font-size: 22px;
	line-height: 120%;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.card__info>span:first-child {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
	margin-right: 10px;
}

.card__info>span:last-child {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
}

.card__info>span:last-child>img {
	margin-right: 5px;
}

.flex {
	width: 100%;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
	max-width: 295px;
}

@media (max-width: 1170px) {
	.content {
		flex-direction: column;
	}

	.comments_input>form>input:first-child {
		max-width: 1000px;
	}

	.flex {
		max-width: 1170px;
	}

	.article__advices {
		display: flex;
		margin-bottom: 120px;

	}

	.article__advices--card {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
	}

	.article__advices--card:before {
		position: absolute;
		top: 205px;
	}

	.article__advices--card {
		position: relative;
	}
}

@media (max-width: 370px) {
	.comments__header>span:last-child {
		font-size: 12px;
	}

	.comments__header>span:first-child {
		font-size: 14px;
	}
}

@media (max-width: 1155px) {
	.comments_input>form>input:first-child {
		margin-bottom: 20px;
		max-width: 1170px;
	}
}


/*BANNER*/
.content__banner {
	background-image: url("src/Group 513.png");
	height: 455px;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 160px;
	display: flex;
	width: 100%;
	align-items: center;
}

.content__banner__info {
	width: 100%;
	max-width: 470px;
}

.content__banner__info>h1 {
	font-family: Rubik;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 110%;
	background: linear-gradient(94.49deg, #CA3D92 0%, #FF76C9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
	margin-bottom: 30px;
}


.content__banner__info>h4 {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #000000;
	margin-bottom: 80px;
}

.content__banner__info>span {
	color: #019934;
}

.content__banner__info>a {
	font-family: Rubik;
	background: #019934;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.03);
	border-radius: 10px;
	padding: 15px 40px;
	color: white;
}

@media (max-width: 410px) {
	.content__banner__info {
		height: 430px;
	}

	.content__banner__info>h1 {
		font-size: 30px;
	}
}

/*BANNER*/

/*FOOTER*/
.container__block {
	box-shadow: 0px 4px 30px rgb(0 0 0 / 5%);
	border-radius: 10px;
}

.container__footer {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
	padding: 30px 40px;
}

.footer__list>a:last-child {
	padding-right: 0px;
	color: #019934;
}

.footer__logo {}

.container__footer__bottom {
	display: flex;
	justify-content: space-between;
	padding: 30px 40px;
}

.bottom__left>h1 {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #6948E7;
	text-align: center;
}

.bottom__right {
	display: flex;
}

.bottom__right>span {
	font-family: Rubik;
	font-style: normal;
	font-weight: 450;
	font-size: 18px;
	line-height: 120%;
	color: #6948E7;
	margin-right: 30px;
}



.footer {
	padding: 0px 0px 30px 0px;
}


@media (max-width: 950px) {
	.container__footer {
		flex-direction: column;
	}

	.container__footer__bottom {
		flex-direction: column-reverse;
		align-items: center;
	}

	.bottom__right>span {
		margin-right: 0px;
		margin-bottom: 20px;
	}

	.bottom__right {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer__icons {
		margin-bottom: 20px;
	}
}

@media (max-width: 700px) {
	.footer__list {
		display: flex;
		margin-bottom: 10px;
		flex-direction: column;
		align-items: center;
	}

	.header__link {
		padding: 0;
	}

	.content__banner {
		margin-bottom: 80px;
	}
}