@use 'null.css';

* {
    user-select: none;
}

::selection {
    background: #74E600;
}

::-moz-selection {
    background: #74E600;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #74E600;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #EF3C7B;
    /* color of the scroll thumb */
    border-radius: 5px;
    /* roundness of the scroll thumb */
    border: 3px solid #74E600;
    /* creates padding around scroll thumb */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {

    background-color: #1A1A1A;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}




.header {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;


    &__menu {
        position: fixed;
        height: 30px;
        margin: 50px 10px;
        display: flex;
        flex-direction: column;
        right: 0;
        z-index: 2;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s ease-in-out;
    }


    &__stick {
        background-color: white;
        width: 50px;
        height: 5px;

        &:first-child {
            background-color: #EF3C7B;
        }

        &:last-child {
            background-color: #74E600;
        }
    }
}



@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
}


.main {

    &__background {
        position: fixed;
        left: -100px;
        max-width: 100%;
        z-index: -1;
        top: -50px;
        transition: all 2s ease;
        animation: rotate 3s linear infinite;
        transform-origin: center;
    }

    &__column {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: flex-start;
    }

    &__title {
        color: #EF3C7B;
        max-width: 808px;
        font-family: Montserrat;
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        line-height: 90px;
        /* 93.75% */
    }

    &__mark__green {
        background: transparent;
        color: #74E600;
    }
}


.about {

    &__background {
        position: fixed;
        max-width: 100%;
        right: -300px;
        bottom: -300px;
        z-index: -1;
        transition: all 2s ease;
        animation: rotate 3s linear infinite;
        transform-origin: center;
    }

    &__row {}

    &__column {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__block__text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 496px;
        float: right;
    }

    &__title {
        color: #74E600;
        font-family: Montserrat;
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 17px;
        line-height: 90px;
        /* 93.75% */
    }

    &__description {
        color: #FFF;
        text-align: right;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;

        &:after {}
    }
}


.skills {
    height: 100vh;
    padding: 0px 0px 300px 0px;

    &__title {
        color: #FF56A7;
        font-family: Montserrat;
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        line-height: 90px;
        /* 93.75% */
        margin-bottom: 140px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__column {}
}

@property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@keyframes progress {
    to {
        --progress-value: 80;
    }
}

.progress-bar {
    display: flex;
    align-items: center;
    width: 230px;
    height: 230px;
    border-radius: 50%;

    flex-direction: column;
    justify-content: center;
    animation: progress 2s 1 forwards;
}

.__html {
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(rgb(255, 115, 0) calc(var(--progress-value) * 1%), rgb(255, 217, 192) 0);
}

.__css {
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(rgb(105, 183, 255) calc(var(--progress-value) * 1%), rgb(192, 212, 255) 0);
}

.__js {
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(rgb(253, 255, 105) calc(var(--progress-value) * 1%), rgb(251, 255, 192) 0);
}

.progress-bar::before {
    content: "80%";
    font-family: Montserrat;
    font-size: 15px;
    background-position: 10px 0px;
    text-align: center;
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
    animation: progress 2s 1 forwards;
}




.portfolio {


    &__title {
        color: #74E600;
        font-family: Montserrat;
        font-size: 96px;
        font-style: normal;
        text-align: center;
        font-weight: 700;
        line-height: 90px;
        /* 93.75% */
        margin-bottom: 50px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }


    &__column {
        width: 24rem;
        height: 36rem;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        display: block;
        color: white;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);


        &:hover{
            transform: translate(0px, -5px);
        }


        &>img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.8;
            transition: opacity .2s ease-out;
        }
    }

    &__name {
        position: absolute;
        inset: auto auto 30px 30px;
        margin: 0;
        color: white;
        font-family: Montserrat;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }


}



.contacts{
    padding: 100px 0px;
    &__title{
        color: #74E600;
        margin-bottom: 100px;
        font-family: Montserrat;
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        line-height: 90px; /* 93.75% */
    }

    &__row{
        display: flex;
        align-items: center;
        gap: 100px;
        justify-content: center;
    }

    &__link{

    }
}

.footer__title{
    color: #74E600;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 90px; /* 250% */


}

.footer{

    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: white;
    }
}


@media (max-width: 820px){
    .main__title{
        font-size: 54px;
        line-height: 48px;
        max-width: 500px;
    }
    .about__title{
        font-size: 54px;
    }
    .about__description{
        font-size: 24px;
    }
    .skills__title{
        font-size: 54px;
    }
    .skills{
        height: auto;
    }
    .skills__row{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }
    .portfolio__title{
        font-size: 54px;
    }
    .contacts__title{
        font-size: 54px;
    }
    .contacts__row{
        flex-wrap: wrap;
    }
    .footer__title{
        font-size: 24px;
    }
    }

    @media (max-width: 500px){
        .main__title{
            font-size: 32px;
            line-height: 32px;
            max-width: 300px;
        }
        .about__title{
            font-size: 32px;
        }
        .about__description{
            font-size: 24px;
        }
        .skills__title{
            font-size: 32px;
        }
        .skills{
            height: auto;
        }
        .skills__row{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 20px;
        }
        .portfolio__title{
            font-size: 32px;
        }
        .contacts__title{
            font-size: 32px;
        }
        .contacts__row{
            flex-wrap: wrap;
        }
        .footer__title{
            font-size: 24px;
        }
        }

.header__block{
    display: flex;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(213, 228, 205, 0.979);
    position: fixed;
    top: 0;
    left: -100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    font-size: 30px;
    gap: 30px;

    & > a{
        color: rgb(60, 75, 38);
        font-family: Montserrat;
    }
}

.__active {
    left: 0;
}

.__active2{
    transform: rotate(-90deg);
}

.__lock{
    overflow: hidden;
}

