@use "fonts/fonts.css";

@use "null.css";



@media (max-width: 1220px){
    body{
        min-width: 1220px;
    }
}

body {


}

.wrapper{

}

.background__block{
    position: relative;
}

.ibg{
    position: relative;
}


.ibg > img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


.info__background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.link a:after{
    content: "→";
    display: inline-block;
    color: inherit;
    margin-left: 5px;}

.link a:after:hover{
    
}


.container {
    max-width: 1140px;
    padding: 0px 20px;
    margin: 0 auto;
}

.header {
    padding: 30px 0px;
    border-bottom: 1px solid #FFF;
    &__row {}

    &__column {}

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__logo {}

    &__logo svg {}

    &__list {
        display: flex;
    }

    &__link a {
        color: #FFF;
        text-align: center;
        font-family: 'Circe';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        /* 21.6px */
        margin-right: 50px;
    }

    &__buttons {
        display: flex;
    }

    &__search {
        background: alpha($color: #00000000);
        margin-right: 70px;
    }

    &__language {
        background: alpha($color: #00000000);
        display: flex;

        & svg {
            margin-right: 10px;
        }

        &__name {
            color: #FFF;
            text-align: right;

            /* p / 16px */
            font-family: Circe;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%;
            /* 21.6px */
        }
    }


}




.forum{
    padding: 180px 0px 50px 0px;
    &__row{
        display: flex;
    }

    &__column{

    }

    &__body{

    }

    &__title{
        color: #FFF;

        /* heading / h1 */
        font-family: Plumb;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 102.4px */
        text-transform: uppercase;
    }

    &__subtitle{
        color: #FFF;

        /* p / p_h1 */
        font-family: Circe;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 33.6px */
    }

    &__link a{
        color: #FFF;
        font-family: Circe;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%; /* 21.6px */
    }



    &__cards{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        &__item{
            padding: 30px 40px;
            max-width: 255px;

            &:nth-of-type(1){
                background: #2378FC;
                margin-right: 15px;
                margin-bottom: 15px;
            }

            &:nth-of-type(2){
                background: #30BCC9;
                margin-left: 15px;
                margin-bottom: 15px;
            }

            &:nth-of-type(3){
                background: #FFC41E;
                margin-right: 15px;
                margin-top: 15px;
            }

            &:nth-of-type(4){
                background: #F6404F;
                margin-left: 15px;
                margin-top: 15px;
            }


        &__title{
            color: #FFF;

            /* heading / h3 */
            font-family: Plumb;
            font-size: 21px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 27.3px */
            letter-spacing: -0.21px;
            margin-bottom: 15px;
        }

            &__link a{
                color: #FFF;

                /* p / 14px */
                font-family: Circe;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 135%; /* 18.9px */


            }
        }

    }
}


.links{
    background-color: #2378FC;
    padding: 80px 0px;
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__body{

    }

    &__title{
        color: #FFF;

        /* heading / h2 */
        font-family: Plumb;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 39px */
        letter-spacing: -0.3px;
        margin-bottom: 30px;
    }

    &__link{
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0px;
        }
    }

    &__link a{
        color: #FFF;

        /* p / 16px */
        font-family: Circe;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%; /* 21.6px */

        &:hover{
            text-decoration-line:underline;
            color: #FFC41E;

        }

    }

}

.events{
    background-color: #FFC41E;

    &__header{

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 75px 0px 55px 0px;
            &__title{
                color: #2E373B;

                /* heading / h2 */
                font-family: Plumb;
                font-size: 30px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%; /* 39px */
                letter-spacing: -0.3px;
            }

            &__link a{
                color: var(--other-black, #2E373B);
                text-align: right;
                font-family: Plumb;
                font-size: 21px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%; /* 27.3px */
                letter-spacing: -0.21px;
                text-decoration-line: underline;
            }
    }

    &__row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__column{

    }

    &__card{
        max-width: 350px;
        margin-bottom: 40px;
        &__img{
            margin-bottom: 20px;

            & img{
                max-width: 100%;
            }
        }

        &__date{
            color: #2E373B;

            /* p / 14px */
            font-family: Circe;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%; /* 18.9px */
            margin-bottom: 10px;
        }

        &__title{

            color: #F6404F;

            /* heading / h3 */
            font-family: Plumb;
            font-size: 21px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 27.3px */
            letter-spacing: -0.21px;
            margin-bottom: 10px;
        }

        &__subtitle{

            color: #2E373B;

            /* p / 16px */
            font-family: Circe;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%; /* 21.6px */
        }
    }
    
}


.news{
    background-color: #FAF3E3;
    padding: 75px;


    &__row{
        display: flex;
    align-items: flex-end;
    justify-content: space-between;
    }

    &__column{

    }

    &__ad__block{


        &__img{
            margin-bottom: 60px;

            &:last-child{
                margin-bottom: 0px;
            }
        }
        &__img > a > img{
            max-width: 100%;
           
        }
    }

    &__header{

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        &__title{
            color: #2E373B;

            /* heading / h2 */
            font-family: Plumb;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 39px */
            letter-spacing: -0.3px;
        }

        &__link a{
            color: #2E373B;
            text-align: right;
            font-family: Plumb;
            font-size: 21px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 27.3px */
            letter-spacing: -0.21px;
            text-decoration-line: underline;
        }
    }

    &__card{
        display: flex;
        margin-bottom: 30px;
        align-items: center;

        &:last-child{
            margin-bottom: 0px;
        }

        &__img{
            margin-right: 15px;
        }

        &__img img{
            max-width: 100%;
        }

        &__content{

        }

        &__date{
            color: #F6404F;

            /* p / 16px */
            font-family: Circe;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%; /* 21.6px */
        }

        &__title{
            color: #2E373B;

            /* heading / h3 */
            font-family: Plumb;
            font-size: 21px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 27.3px */
            letter-spacing: -0.21px;
            max-width: 340px;
        }

    }
}


.footer{
    background-color: #30BCC9;
    padding: 60px;
    &__row{
        display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    &__column{
        width: 255px;
        margin-bottom: 40px;
    }

    &__body{

        &__links{
            
        }

        
        &__title{
            color: #FFF;

            /* heading / h3 */
            font-family: Plumb;
            font-size: 21px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 27.3px */
            letter-spacing: -0.21px;
            margin-bottom: 20px;
        }

        &__link{
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0px;
            }
        }

        &__link a{
            color: #E0E0E0;

            /* p / 14px */
            font-family: Circe;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%; /* 18.9px */
        }
        
        &__svg{
            display: flex;
    flex-direction: column;
            & a{
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }

        }

        &__social{


            & a {
                margin-right: 30px;

                &:last-child{
                    margin-right: 0px;
                }
            }
        }

        &__subtitle{
            color: #E0E0E0;

            /* p / 14px */
            font-family: Circe;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%; /* 18.9px */
            margin-bottom: 25px;
            max-width: 255px;
        }

        &__form{
            display: flex;
        }

        &__email{
            color: #9C9C9C;

            /* p / 12px */
            font-family: Circe;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%; /* 16.2px */
            padding: 10px 20px;
        }

        &__button{
            background-color: #F6404F;
            padding: 10px 10px 5px 10px;

            & svg{

            }
        }
    }

}