@font-face {
    font-family: "Lonely";
    src: url("src/LonelyArmadillo Bold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #ff56a7;
    margin-left: 5px;
    margin-right: 5px;
}

img {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

li {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lonely';
    height: 100%;
    background-color: #000000;
}

.wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.header {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    filter: alpha(Opacity=70);
    background-color: rgb(0 0 0 / 25%);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}

.header__logo {
    padding: 10px 0px 0px 10px;
}

.header__logo>img {
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.header__logo>img:hover {
    opacity: 0.9;
}



.menu_navigation_container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu-navigation {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.underline__link {
    padding: 25px 25px 25px 0px;
    color: #ff56a7;
    font-size: calc(20px + 8 * ((100vw - 320px) / (1280 - 320)));
    -webkit-transition: 0.4s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: 0.4s cubic-bezier(0, 0, 0.2, 1);
    transition: 0.4s cubic-bezier(0, 0, 0.2, 1);
}

.underline__link:hover {
    color: chartreuse;
    text-shadow: 0 0 5px chartreuse;
}

.underline__link:last-child {
    padding: 25px 25px 25px 0px;
}


#menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;  
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    visibility: hidden;
    z-index: 100;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff56a7;
    text-shadow: 0 0 3px #ff56a7;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    background-color: #000000b8;
    z-index: 99;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Lonely', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #ff56a7;
    font-size: 20px;
    -webkit-transition: 0.4s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: 0.4s cubic-bezier(0, 0, 0.2, 1);
    transition: 0.4s cubic-bezier(0, 0, 0.2, 1);
  }
  .menu__item:hover {
    color: chartreuse;
    text-shadow: 0 0 5px chartreuse;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
    -webkit-transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
  }

.page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
}

.page>span {
    color: #ff56a7;
    font-size: calc(19px + 16 * ((100vw - 320px) / (1280 - 320)));
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-shadow: 0 0 3px #ff56a7;
}

.page>img {
    width: 400px;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 70px 0px;
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.header__example {
    font-family: 'IBM Plex Mono', monospace;
    color: #ff56a7;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: calc(16px + 16 * ((100vw - 320px) / (1280 - 320)));
}

.content__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.content__text > div {
    color: white;
    width: 70%;
    background-color: rgb(0 0 0 / 35%);
    padding: 30px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'IBM Plex Mono', monospace;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-bottom: 10px;
    border: 1px solid white;
    font-size: calc(16px + 5 * ((100vw - 320px) / (1280 - 320)));
}

.main__buy__container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.main__buy__container > span{
    font-family: 'IBM Plex Mono', monospace;
    color: #ff56a7;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    padding: 50px 0px;
    font-size: calc(16px + 16 * ((100vw - 320px) / (1280 - 320)));
}

.flex-wrap__container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.buy__cd__content{
    margin: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.buy__cd__content > span{
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    padding: 10px 0px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: calc(20px + 2 * ((100vw - 320px) / (1280 - 320)));
}

.buy__cd__content > img{
    -webkit-box-shadow: 0 0 3px #ff56a7;
            box-shadow: 0 0 3px #ff56a7;
    width: 300px;
    max-width: 100%;
    height: auto;
}


.buy__cd__content > a{
    padding: 10px 50px;
    color: rgb(255, 255, 255);
    background-color: #80ff00;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
    border-radius: 2px;
    border: 1px solid rgb(166, 255, 78);

}

.buy__cd__content > a:hover{
    -webkit-box-shadow: 0 0 10px #ff56a7;
            box-shadow: 0 0 10px #ff56a7;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
}   

.footer > hr{
    border: 1px solid grey;
}

.footer > h1{
    text-align: center;
    color: white;
    opacity: 0.7;
}

.footer > h1{
    text-align: center;
    color: white;
    opacity: 0.7;
}


@media (max-width: 900px){
    .menu__btn{
        overflow: visible;
        visibility: visible;
    }
    .menu_navigation_container{
        overflow: hidden;
        visibility: hidden;
        font-size: 1px;
    }
    .page>img {
        margin-left: 10px;
        margin-right: 10px;
    }
}