@use "null.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$black-text: #1D1D1B;
$header-hover: #27AE60;
$white-text:#FFF;
$gray-text:#67675F;
$gray-background: #F8F8F8;


body._lock{
    overflow: hidden;
}

.container {
    padding: 0 15px;
    max-width: 1390px;
    margin: 0 auto;
}

.title {
    color: $black-text;
    font-family: Rubik;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ibg {
    position: relative;
}

.ibg>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.info__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


.button>a {
    background-color: $header-hover;
    color: $white-text;
    padding: 20px 36px;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    display: inline-block;
}


.header__background {
    position: relative;
    margin-bottom: 80px;
}

.header {

    &__row {}

    &__column {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__body {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 90px;
    }

    &__nav {}

    &__nav ul {
        display: flex;
    }

    &__nav ul li {
        margin-right: 60px;
    }

    &__nav ul li:last-child {
        margin-right: 0px;
    }

    &__nav__element {
        color: $black-text;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: color 0.5s ease-in-out;
    }

    &__nav__element:hover {
        color: $header-hover;
        transition: color 0.2s ease-in-out;
    }

    &__button a {
        border-radius: 8px;
        background-color: $header-hover;
        display: inline-flex;
        padding: 16px 26px;
        gap: 10px;
        color: $white-text;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    @media(max-width: 1220px){
        .header__nav{
            display: none;
        }
        .header__button > a{
            display: none;
        }
    }
}


/*-------------MENU-BURGER----------*/


.header__menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

.menu{

    &__icon{
        display: none;
    }
    &__body{
        display: none;
    }
}

@media(max-width: 1220px){
    .menu{

        &__icon{
            z-index: 5;
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;
            margin: 20px;
            &::before{
                content: "";
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease;
                background-color: $gray-text;  
                top: 0;
            }
            &::after{
                content: "";
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease;
                background-color: $gray-text;
                bottom: 0;
            }

            & span{
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease;
                background-color: $gray-text;
            }
            & span{
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }
        }
    }

    .menu__icon._active span{
        transform: scale(0) translate(0px, -50%);
        background-color: $header-hover;
    }

    .menu__icon._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px,-50%);
        background-color: $header-hover;
    }
    .menu__icon._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px,50%);
        background-color: $header-hover;
    }


    .menu__body{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fcfcfc;
        transition: left 0.3s ease 0s;
        overflow: auto;
        display: flex;
    justify-content: center;
    align-items: center;
    }

    .menu__body._active{
        left: 0;
    }
    .menu__list{
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .menu__list > li{
        margin: 0px 0px 30px 0px;
    }
    .menu__list > li > a{
        color: $black-text;
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}




/*---------MENU-BURGER-----------------*/



.info {
    position: relative;

    &__row {}

    &__column {}

    &__body {
        padding: 320px 0px 185px 0px;
    }

    &__title {
        color: $white-text;
        font-family: Rubik;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        max-width: 700px;
        margin-bottom: 30px;
    }

    &__subtitle {
        color: $white-text;
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 28px */
        max-width: 775px;
        margin-bottom: 80px;
    }

    &__button {}


}



.choose {
    margin-bottom: 105px;

    &__title {
        margin-bottom: 60px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__column {
        border-radius: 8px;
        border: 1px solid #A8A8A8;
        padding: 20px;
        display: flex;
        margin-right: 15px;
        width: 100%;
        max-width: 260px;
    }

    &__column:last-child {
        margin-right: 0px;
    }

    &__body {
        display: flex;

        align-items: center;
    }

    &__icon {
        margin-right: 20px;
    }

    &__describe {
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        max-width: 171px;
    }

    & .green {
        color: $header-hover;
    }
}


.materials {
    margin-bottom: 80px;

    &__title {
        margin-bottom: 60px;
    }

    &__row {
        display: flex;
    }

    &__column {
        width: 340px;
        height: 524px;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        color: white;
        transition: 0.3s ease;
        margin-right: 15px;
    }

    &__column:last-child {
        margin-right: 0px;
    }

    &__column:hover {
        box-shadow: 0px 4px 80px 0px rgba(81, 86, 94, 0.5);
        transform: translateY(-20px);
        transition: 0.2s ease-in;
    }

    &__column img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.9;
        transition: opacity .2s ease-out;
    }

    &__name {
        position: absolute;
        inset: auto auto 30px 30px;
        margin: 0;
        color: $white-text;
        font-family: Rubik;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}


.about {
    margin-bottom: 80px;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__column {}

    &__body {}

    &__title {
        margin-bottom: 30px;
    }

    & .green {}

    & .green::after {
        content: '+';
        color: $header-hover;
        font-family: Rubik;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 142%;
        /* 56.8px */
        letter-spacing: 0.2px;
        position: absolute;
    }

    &__subtitle {
        color: $gray-text;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 142%;
        /* 25.56px */
        letter-spacing: 0.09px;
        max-width: 579px;
    }

    &__numbers {
        background-color: $gray-background;
        border-radius: 24px;
        display: flex;
    }

    &__figure {
        padding: 100px;
    }

    &__figure__title {
        color: #1D1D1B;
        font-family: Rubik;
        font-size: 88px;
        font-style: normal;
        font-weight: 300;
        line-height: 142%;
        /* 124.96px */
        letter-spacing: 0.44px;
        text-align: center;
    }

    &__figure__subtitle {
        color: $gray-text;
        font-family: Rubik;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 142%;
        /* 34.08px */
        letter-spacing: 0.12px;
        text-align: center;
    }
}

.form {
    background-color: $gray-background;
    z-index: -1;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__column__body {
        padding: 55px 0px;
        position: relative;
        overflow: hidden;
    }

    &__background {
        position: absolute;
        right: 25%;
        top: 0;
    }

    &__body {
        max-width: 489px;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__subtitle {
        color: $header-hover;
        font-family: Rubik;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 39.2px */
        margin-bottom: 20px;
    }

    &__subsubtitle {
        color: $black-text;
        font-family: Rubik;
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
    }

    &__button {}

    &__block {
        border-radius: 12px;
        background: $white-text;
        z-index: 1;
        position: relative;

        & form {
            display: flex;
            flex-direction: column;
            padding: 25px;
            width: 686px;
            max-width: 100%;
        }
    }

    &__name {
        color: $black-text;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 18px */
        border-radius: 6px;
        border: 1px solid #DDD;
        padding: 25px;
        margin-bottom: 20px;
    }

    &__number {
        color: $black-text;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 18px */
        border-radius: 6px;
        border: 1px solid #DDD;
        padding: 25px;
        margin-bottom: 20px;
    }

    &__comment {
        color: $black-text;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 18px */
        border-radius: 6px;
        border: 1px solid #DDD;
        padding: 25px;
        margin-bottom: 20px;
        resize: none;
    }

    &__politics {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__politics>a {
        color: $black-text;
        font-family: Rubik;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 15px */
        margin-bottom: 20px;
    }

    &__politics>button {
        border-radius: 8px;
        background: $header-hover;
        color: $white-text;
        border-radius: 8px;
        background: $header-hover;
        padding: 20px 36px;
        font-family: Rubik;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}


.delivery {
    @media(min-width: 1160px) {
        display: flex;
        overflow: hidden;
    }

    &__content {
        flex: 0 0 100%;

    }

    &__container {}

    &__body {}

    &__title {
        margin-bottom: 30px;
        margin-top: 40px;
    }

    &__subtitle {
        color: #1E1E1C;
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 28px */
        max-width: 579px;
        margin-bottom: 60px;
    }

    &__features {
        margin-bottom: 180px;
    }

    &__features__item {
        display: flex;
        align-items: center;
        margin-bottom: 65px;

        & img {
            margin-right: 20px;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__features__item__text {
        color: $black-text;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        /* 22.4px */
    }

    &__address {
        display: flex;
    }

    &__address__block {
        padding: 50px;
        background-color: $gray-background;
        margin-right: 15px;
    }

    &__address__text {
        color: #393838;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        /* 18px */
        margin-bottom: 25px;
        text-align: center;
    }

    &__address__text:last-child {
        color: #848692;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 16px */
    }

    &__image {}

    &__image img {
        max-width: 100%;
    }

    @media (min-width: 1160px) {
        &__image {
            position: relative;
            flex: 0 0 50%;
            transform: translate(-100%, 0px);
        }

        &__image>img {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }

        &__body {
            width: 50%;
        }
    }
}

.footer {
    background-color: #424141;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__column {}

    &__logo__block {
        display: flex;
        align-items: center;
    }

    &__logo__img {
        margin-right: 50px;
    }

    &__logo__title {
        color: $white-text;
        font-family: Rubik;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        text-align: center;
        /* 14.4px */
    }

    &__nav__block ul {
        display: flex;
        & li{
            margin-right: 50px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }

    &__nav__link {
        color: #FFF;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        /* 21.6px */
    }

    &__contacts__block {
        display: flex;
        align-items: center;
    }

    &__contacts__icon {
        margin-right: 25px;
    }

    &__contacts__number {
        color: $white-text;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 12px */
        padding: 15px 30px 15px 30px;
        border: 1px solid $gray-background;
    }
}



@media(max-width:1265px){
    .about__row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .about__subtitle{
        margin-bottom: 30px;
    }
    .materials__name{
        font-size: 26px;
    }
}

@media(max-width: 1220px){
    .form{
        background-color: $white-text;
    }
    .form__row{
        flex-direction: column;
    }
    .form__background{
        display: none;
    }
}

@media(max-width:1150px){
    .footer__logo__block{
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .footer__logo__img{
        margin-right: 0px;
    }
    .footer__row{
        flex-direction: column-reverse;
    }
    .footer__column{
        margin-bottom: 30px;
    }
    .footer__column:last-child{
        margin-top: 30px;
    }
}

@media (max-width: 1090px){
    .choose__column{
        margin: 10px;
    }
    .choose__column:last-child{
        margin-right: 10px;
    }
    .choose__row{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 980px){
    .materials__column{
        margin-right: 0px;
        margin: 10px;
    }
    .materials__column:last-child{
        margin-right: 10px;
    }
    .materials__row{
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media(max-width: 768px){

    .info {
        position: relative;
    
        &__row {}
    
        &__column {}
    
        &__body {
            padding: 265px 0px 30px 0px;
        }
    
        &__title {
            color: #FFF;
            font-family: Rubik;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    
        &__subtitle {
            color: #FFF;
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            margin-bottom: 40px;
        }
    
        .button>a {
            color: #FFF;
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }    
    }
    

    .title{
        color: #1D1D1B;
        font-family: Rubik;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .materials__column{
        height: 324px;
    }


    .about{

        &__subtitle{
            color: #67675F;
            font-family: Rubik;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 142%; /* 19.88px */
            letter-spacing: 0.07px;
        }
        &__numbers{
            flex-direction: column;
        }
        &__figure__title{
            color: #1D1D1B;
            font-family: Rubik;
            font-size: 50px;
            font-style: normal;
            font-weight: 600;
            line-height: 142%; /* 71px */
            letter-spacing: 0.25px; 
        }
        &__figure__subtitle{
            color: #67675F;
            font-family: Rubik;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 142%; /* 25.56px */
            letter-spacing: 0.09px;
        }
        &__figure{
            padding: 80px;
        }
    }
    
    .form{

        &__subtitle{
            color: #27AE60;
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
        &__subsubtitle{
            color: #67675F;
            font-family: Rubik;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 142%; /* 19.88px */
            letter-spacing: 0.07px;
        }
        &__block form{
            width: 80vw;
        }
        &__name{
            color: var(--black, #181A28);
            font-family: Rubik;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 14px */
        }
        &__number{
            color: var(--black, #181A28);
            font-family: Rubik;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 14px */
        }
        &__comment{
            color: var(--black, #181A28);
            font-family: Rubik;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 14px */
        }
    }

    .delivery{


        &__subtitle{
            color: #67675F;
            font-family: Rubik;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 142%; /* 19.88px */
        }
        &__features{
            margin-bottom: 50px;
        }
        &__address{
            flex-direction: column;
        }
        &__address__block{
            margin-right: 0px;
            padding: 30px;
            margin: 10px 0px;
        }
    }
    .ibg > img{
        object-position: right; 
        filter: brightness(0.9);    
    }
    .footer__contacts__number{
        padding: 15px 10px 15px 10px;
    }
}

