@use "null.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.wrapper {}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {


        & svg {
            width: 100%;
        }
    }

    &__burger {
        z-index: 5;
        display: block;
        position: relative;
        width: 44px;
        height: 15px;
        cursor: pointer;
        margin: 20px 0px 20px;

        & span {
            left: 0;
            position: absolute;
            height: 2px;
            width: 100%;
            transition: all 0.3s ease;
            background-color: rgb(255, 255, 255);
        }


        &::after {
            content: "";
            left: 0;
            position: absolute;
            height: 2px;
            width: 100%;
            transition: all 0.3s ease;
            background-color: rgb(255, 255, 255);
            bottom: 0;

        }



    }




}

.major {
    background-image: url('../src/bgmajor.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px 60px 0px;

    &__container {}


    &__column {}


    &__row {
        min-height: 630px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title svg {
        max-width: 100%;
    }

    &__block {
        display: flex;
        position: relative;
        flex-direction: column;
        float: right;

        &-description {
            color: #FFF;

            /* Paragraph 1 - Regular */
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            /* 138.889% */
            max-width: 375px;
            margin-bottom: 40px;
        }


        &-link {
            display: flex;
            align-items: center;
        }



        &-link a {
            color: #FFF;
            /* Normal Text - Medium */
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            /* 122.222% */
            margin-right: 40px;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
            }

            &:hover~.major__block-icon>svg {
                left: 0;
                transition: all 0.5s ease 0s;
            }
        }


        &-icon {
            width: 72px;
            height: 34px;
            border-radius: 21.353px;
            border: 1.5px solid #FFF;
            position: relative;
            display: flex;
            align-items: center;
        }

        & svg {
            width: 100%;
            position: absolute;
            left: -50%;
            transition: all 0.5s ease 0s;

        }
    }
}


.logos {
    background: #1F2B37;
    padding: 70px 0px;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__column {


        &-img {


            & img {
                max-width: 100%;
            }
        }
    }
}







.about {
    background: #16222E;
    padding: 70px 0px 220px 0px;


    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__column {}

    &__body {

        z-index: 3;
        position: relative;


        &-name-section {
            color: var(--dark-shade-2, #C0C0C0);

            /* Medium Text - Medium */
            font-family: Montserrat;
            font-size: 21px;
            font-style: normal;
            font-weight: 500;
            display: flex;
            line-height: 26px;
            align-items: center;
            /* 123.81% */

            &:after {
                content: "";
                display: inline-block;
                background-color: var(--dark-shade-2, #C0C0C0);
                width: 100%;
                max-width: 296px;
                height: 2px;
                margin-left: 10px;
            }
        }


        &-title {
            color: #FFF;

            /* Heading 2 */
            font-family: HandelGotDBol;
            font-size: 60px;
            font-style: normal;
            font-weight: 400;
            line-height: 75px;
            /* 125% */
        }

        &-description {
            color: #FFF;

            /* Paragraph 1 - Regular */
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            /* 138.889% */
            max-width: 494px;
            margin: 30px 0px;
        }


        &-slider {
            display: flex;
            align-items: center;

            &-button {
                display: flex;
                width: 41px;
                height: 41px;
                border-radius: 4px;
                background: var(--primary-shade-1, #283746);
                align-items: center;
                justify-content: center;
                z-index: 2;

                &:nth-of-type(2) {
                    background: #BE3DFB;
                }
            }

            &-page-number {
                color: #FFF;
                text-align: center;
                font-family: Montserrat;
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                /* 120% */
                margin: 0px 20px;
            }
        }
    }


    &__img-block {
        border-radius: 20px;
        background: #1F2B37;
        width: 600px;
        height: 600px;


        &::after {
            content: "";
            background-image: url('./../src/bgabout.png');
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            max-width: 992px;
            height: 771px;
            position: absolute;
            right: 0px;
        }


    }

    &__img-picture {

        & img {
            max-width: 100%;
        }
    }


}

.cards {
    background: #16222E;

    &__row {}


    &__column {


        &-block {
            display: flex;
            justify-content: space-between;
        }
    }




    &__header {

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        &-title {
            color: #FFF;

            /* Heading 2 */
            font-family: HandelGotDBol;
            font-size: 60px;
            font-style: normal;
            font-weight: 400;
            line-height: 75px;
            /* 125% */
            max-width: 650px;
        }

        &-description {
            color: #FFF;

            /* Paragraph 1 - Regular */
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            /* 138.889% */
            max-width: 409px;
        }
    }

    &__body {
        width: 124.132px;
        height: 421.416px;
        background-color: #1F2B37;
        transition: all 0.4s ease 0s;
        overflow: hidden;
        &-content-start {
            padding: 30px;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            align-items: center;

            &-number {
                color: #FFF;
                text-align: center;

                /* Heading 3 */
                font-family: HandelGotDBol;
                font-size: 45px;
                font-style: normal;
                font-weight: 400;
                line-height: 50px;
                /* 111.111% */
            }


            &-name {
                color: #FFF;

                /* Body 1 - Medium */
                font-family: Montserrat;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: 35px;
                /* 125% */
                writing-mode: vertical-lr;
                transform: rotate(-180deg);
            }

        }



        &-content-finish {
            display: none;
            background-image: url('../src/bgcard.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            &-number {
                color: #FFF;

                /* Medium Text - Medium */
                font-family: Montserrat;
                font-size: 21px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                /* 123.81% */
                margin-bottom: 10px;
            }

            &-title {
                color: #FFF;

                /* Heading 4 */
                font-family: HandelGotDBol;
                font-size: 35px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px;
                /* 114.286% */
                margin-bottom: 20px;
            }

            &-description {
                color: #FFF;

                /* Paragraph 2 - Regular */
                font-family: Montserrat;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 23px;
                /* 153.333% */
                margin-bottom: 70px;
            }

            &-link {
                position: relative;
                display: flex;
                align-items: center;

                & a {
                    color: #FFF;

                    /* Normal Text - Medium */
                    font-family: Montserrat;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                    /* 122.222% */
                    margin-right: 40px;

                    &::after {
                        content: "";
                        position: absolute;
                        inset: 0;
                    }

                    &:hover~.cards__body-content-finish-icon>svg {
                        left: 0;
                        transition: all 0.5s ease 0s;
                    }
                }

            }

            &-icon {
                width: 72px;
                height: 34px;
                border-radius: 21.353px;
                border: 1.5px solid #FFF;
                position: relative;
                display: flex;
                align-items: center;

                & svg {
                    width: 100%;
                    position: absolute;
                    left: -50%;
                    transition: all 0.5s ease 0s;
                }
            }
        }


        &:hover {
            width: 567px;
            transition: all 0.4s ease 0s;
        }

        &:hover>.cards__body-content-finish {
            display: flex;
            flex-direction: column;
            padding: 40px 30px;
        }

        &:hover>.cards__body-content-start {
            display: none;
        }


    }
}


.team {
    padding: 100px 0px;
    background: #16222E;

    &__title {
        color: #FFF;
        text-align: center;

        /* Heading 2 */
        font-family: HandelGotDBol;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 75px;
        /* 125% */
        max-width: 724px;
        margin-bottom: 30px;
        margin: 0px auto 50px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__column {}

    &__img {
        margin-bottom: 30px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;

        & img {
            max-width: 100%;
        }


        &-title {
            color: #FFF;
            text-align: center;

            /* Medium Text - Semi Bold */
            font-family: Montserrat;
            font-size: 21px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
            /* 123.81% */
            margin-bottom: 10px;
        }

        &-subtitle {
            color: var(--dark-shade-2, #C0C0C0);
            text-align: center;

            /* Small Text - Medium */
            font-family: Montserrat;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            /* 133.333% */
        }
    }



}


.form{
    background: #16222E;
    padding: 70px 0px;

    &__row{
        background: #1F2B37;
        padding: 90px 0px;
    }

    &__column{

    }

    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;

        & svg{
            margin-bottom: 30px;
            max-width: 100%;
        }
    }

    &__block{
        padding: 20px;
        border-bottom: 1px solid #38424B;
        width: 100%;
        max-width: 548px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        &-email{
            color: var(--dark-shade-2, #C0C0C0);

            /* Small Text - Regular */
            font-family: Montserrat;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 133.333% */
            background-color: #1F2B37; 
            width: 300px;
        
        }


        &-button{
            background-color: #00000000;
            position: relative;
            &:hover >div >svg {
                left: 0;
                transition: all 0.5s ease 0s;
            }
  
            &-icon{
                width: 72px;
                height: 34px;
                border-radius: 21.353px;
                border: 1.5px solid #FFF;
                position: relative;
                display: flex;
                align-items: center;
                background-color: #00000000;
        
                & svg{
                    width: 100%;
                    position: absolute;
                    left: -50%;
                    transition: all 0.5s ease 0s;

                }
            }
        }
    }
}


.footer{
    background: #16222E;
    padding: 0px 0px 30px 0px;

    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__column{

    }


    &__logo-block{

        &-img{
            margin-bottom: 10px;

            & img{
                max-width: 100%;
            }
        }

        &-description{
            color: var(--dark-shade-2, #C0C0C0);

            /* Paragraph 2 - Regular */
            font-family: Montserrat;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px; /* 153.333% */
            max-width: 355px;
        }
    }
    
    &__nav{
        display: flex;
        flex-direction: column;
        &-block{

            &:after{
                content: '';
                display: inline-block;
                width: 100%;
                height: 1px;
                background-color: #38424B;
                margin: 13px 0px;
            }
            &-link{
                color: var(--dark-shade-2, #C0C0C0);

                /* Medium Text - Medium */
                font-family: Montserrat;
                font-size: 21px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px; /* 123.81% */
                margin-right: 95px;
                &:nth-of-type(4){
                    margin-right: 0px;
                }
            }
        }


        &-copyright{
            display: flex;
    justify-content: space-between;
            
            &-text{
                color: var(--dark-shade-2, #C0C0C0);
                text-align: right;
                
                /* Small Text - Regular */
                font-family: Montserrat;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 133.333% */
            }
        }
    }
}