@font-face {
    font-family: 'Plumb';
    src: url('PlumbBlackSoftC.eot');
    src: local('PlumbBlackSoftC'),
        url('PlumbBlackSoftC.eot?#iefix') format('embedded-opentype'),
        url('PlumbBlackSoftC.woff2') format('woff2'),
        url('PlumbBlackSoftC.woff') format('woff'),
        url('PlumbBlackSoftC.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plumb';
    src: url('PlumbC-Bold.eot');
    src: local('PlumbC Bold'), local('PlumbC-Bold'),
        url('PlumbC-Bold.eot?#iefix') format('embedded-opentype'),
        url('PlumbC-Bold.woff2') format('woff2'),
        url('PlumbC-Bold.woff') format('woff'),
        url('PlumbC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plumb';
    src: url('PlumbBlackC.eot');
    src: local('PlumbBlackC'),
        url('PlumbBlackC.eot?#iefix') format('embedded-opentype'),
        url('PlumbBlackC.woff2') format('woff2'),
        url('PlumbBlackC.woff') format('woff'),
        url('PlumbBlackC.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plumb';
    src: url('PlumbC.eot');
    src: local('PlumbC'),
        url('PlumbC.eot?#iefix') format('embedded-opentype'),
        url('PlumbC.woff2') format('woff2'),
        url('PlumbC.woff') format('woff'),
        url('PlumbC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plumb';
    src: url('PlumbLightC.eot');
    src: local('PlumbLightC'),
        url('PlumbLightC.eot?#iefix') format('embedded-opentype'),
        url('PlumbLightC.woff2') format('woff2'),
        url('PlumbLightC.woff') format('woff'),
        url('PlumbLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plumb';
    src: url('PlumbMediumC.eot');
    src: local('PlumbMediumC'),
        url('PlumbMediumC.eot?#iefix') format('embedded-opentype'),
        url('PlumbMediumC.woff2') format('woff2'),
        url('PlumbMediumC.woff') format('woff'),
        url('PlumbMediumC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Circe';
    src: url('Circe-Light.eot');
    src: local('Circe Light'), local('Circe-Light'),
        url('Circe-Light.eot?#iefix') format('embedded-opentype'),
        url('Circe-Light.woff2') format('woff2'),
        url('Circe-Light.woff') format('woff'),
        url('Circe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('Circe-ExtraBold.eot');
    src: local('Circe Extra Bold'), local('Circe-ExtraBold'),
        url('Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Circe-ExtraBold.woff2') format('woff2'),
        url('Circe-ExtraBold.woff') format('woff'),
        url('Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('Circe-Thin.eot');
    src: local('Circe Thin'), local('Circe-Thin'),
        url('Circe-Thin.eot?#iefix') format('embedded-opentype'),
        url('Circe-Thin.woff2') format('woff2'),
        url('Circe-Thin.woff') format('woff'),
        url('Circe-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
        url('Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('Circe-Regular.woff2') format('woff2'),
        url('Circe-Regular.woff') format('woff'),
        url('Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('Circe-Bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'),
        url('Circe-Bold.eot?#iefix') format('embedded-opentype'),
        url('Circe-Bold.woff2') format('woff2'),
        url('Circe-Bold.woff') format('woff'),
        url('Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

